@import '../../styles/variables.scss';

.cartTitle {
  text-align: center;
  line-height: 26px;
  margin-top: 100px;
  font-size: $bestItem-title-size;
}
.sectionWrap {
  @include flex-center;
  margin: 51px 147px 0 147px;

  .cartContainer {
    width: 860px;
    // height: 352px;
    border-top: 1px solid #000;

    .listHeader {
      height: 55px;
      line-height: 55px;
      border-bottom: 1px solid #e1dedf;
      font-size: 12px;

      .header-info {
        float: left;
        margin-left: 249px;
      }

      .header-count {
        float: left;
        margin-left: 301px;
      }

      .header-price {
        float: left;
        margin-left: 116px;
      }
    }

    .itemList {
      display: flex;
      align-items: center;
      border-bottom: 1px solid #e1dedf;

      img {
        width: 109px;
        margin: 19px 0 0 24px;
      }

      .infoContainer {
        width: 284px;
        height: 48px;
        margin: 49px 0 0 53px;

        .productName {
          font-size: $item-priceInfo-size;
        }

        .selectOption {
          font-size: 13px;
          color: $item-priceInfo-color;
        }
      }

      .cartWeight {
        width: 80px;
        height: 24px;
        margin-top: 61px;
        font-size: 14px;
        color: $item-priceInfo-color;
      }

      .counterContainer {
        @include flex-center;
        justify-content: space-around;
        width: 118px;
        height: 38px;
        margin-top: 54px;
        border: 1px solid #dcdcdc;
        cursor: pointer;
      }

      .itemPrice {
        width: 143px;
        height: 24px;
        margin: 60px 0 0 8px;
        font-size: $item-priceInfo-size;
        text-align: center;
      }

      .deleteBtn {
        margin-top: 54px;
        width: 40px;
        height: 40px;
        border: 1px solid #dcdcdc;
        font-size: 14px;
        background-color: rgb(255, 255, 255);
      }
    }
  }

  .paymentContainer {
    display: block;
    width: 280px;
    // height: 401px;
    margin: 51px 0 0 39px;
    background-color: rgb(248, 248, 248);
    border-top: 1px solid #000;

    .paymentBox {
      width: 220px;
      // height: 394px;
      margin: 0 30px 0 30px;

      .productPrice {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 220px;
        height: 50px;
        margin-top: 7px;
        padding-bottom: 15px;
        font-size: 15px;
        border-bottom: 1px solid #e1dedf;
      }
    }

    .shippingPrice {
      width: 220px;
      height: 96px;
      padding-bottom: 7px;
      border-bottom: 1px solid #e1dedf;

      .shippingPrice-total {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 39px;
        margin-bottom: 5px;
        font-size: 15px;
      }

      .shippingPrice-basic {
        height: 24px;
        margin-bottom: 2px;
        text-align: right;
        font-size: 13px;
        color: $item-priceInfo-color;

        .basic-text {
          margin-right: 12.5px;
        }
      }

      .firstPayment {
        height: 24px;
        margin-bottom: 2px;
        text-align: right;
        color: #4a90e2;
        font-size: 13px;

        .firstBuyText {
          margin-right: 12.5px;
        }
      }
    }

    .paymentMessage {
      height: 24px;
      margin: 6px 0 26px 0;
      color: #4a90e2;
      font-size: 13px;
    }

    .useCoupon {
      margin-top: 12px;
    }

    .totalPrice {
      height: 50px;
      margin-top: 15px;
      padding-bottom: 9px;
      text-align: right;

      .totalPrice-text {
        height: 24px;
        font-size: 13px;
        font-weight: 700;
        line-height: 24px;
      }

      .totalPrice-won {
        height: 24px;
        margin-top: 2px;
        font-size: 24px;
        font-weight: 700;
        line-height: 24px;
        color: #d0021b;
      }
    }

    .paymentBtn {
      width: 220px;
      height: 50px;
      margin-top: 10px;
      border: none;
      color: #fff;
      font-size: 15px;
      font-weight: 700;
      background-color: #d0021b;
    }

    .keepShoppingBtn {
      width: 220px;
      height: 50px;
      margin-top: 10px;
      border: none;
      color: #fff;
      font-size: 15px;
      font-weight: 700;
      background-color: #acacac;
    }
  }
}

.emptyCart {
  margin-bottom: 120px;
}

/* Dropdown Button */
.dropbtn {
  background-color: #4caf50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
  background-color: #3e8e41;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}
