@import '../../styles/variables.scss';

.cartTitle {
  text-align: center;
  line-height: 26px;
  margin-top: 100px;
  font-size: $bestItem-title-size;
}
.sectionWrap {
  // @include flex-center;
  display: flex;
  justify-content: center;
  margin: 51px 147px 0 147px;

  .cartContainer {
    width: 860px;
    // height: 352px;
    border-top: 1px solid #000;

    .listHeader {
      height: 55px;
      line-height: 55px;
      border-bottom: 1px solid #e1dedf;
      font-size: 12px;

      .header-info {
        float: left;
        margin-left: 249px;
      }

      .header-count {
        float: left;
        margin-left: 301px;
      }

      .header-price {
        float: left;
        margin-left: 116px;
      }
    }

    .itemList {
      display: flex;
      align-items: center;
      border-top: 1px solid #e1dedf;
      border-bottom: 1px solid #e1dedf;

      img {
        width: 109px;
        margin: 19px 0 0 24px;
      }

      .infoContainer {
        width: 284px;
        height: 48px;
        margin: 49px 0 0 53px;

        .productName {
          font-size: $item-priceInfo-size;
        }

        .selectOption {
          font-size: 13px;
          color: $item-priceInfo-color;
        }
      }

      .cartWeight {
        width: 80px;
        height: 24px;
        margin-top: 61px;
        font-size: 14px;
        color: $item-priceInfo-color;
      }

      .counterContainer {
        @include flex-center;
        justify-content: space-around;
        width: 118px;
        height: 38px;
        margin-top: 54px;
        border: 1px solid #dcdcdc;
        cursor: pointer;
      }

      .itemPrice {
        width: 143px;
        height: 24px;
        margin: 60px 0 0 8px;
        font-size: $item-priceInfo-size;
        text-align: center;
      }

      .deleteBtn {
        margin-top: 54px;
        width: 40px;
        height: 40px;
        border: 1px solid #dcdcdc;
        font-size: 14px;
        background-color: rgb(255, 255, 255);
      }
    }
  }

  .paymentContainer {
    display: block;
    width: 280px;
    // height: 401px;
    margin: 0px 0px 0px 39px;
    background-color: rgb(248, 248, 248);
    border-top: 1px solid #000;

    .paymentBox {
      width: 220px;
      // height: 394px;
      margin: 0 30px 0 30px;

      .productPrice {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 220px;
        height: 50px;
        margin-top: 7px;
        padding-bottom: 15px;
        font-size: 15px;
        border-bottom: 1px solid #e1dedf;
      }
    }

    .shippingPrice {
      width: 220px;
      height: 96px;
      padding-bottom: 7px;
      border-bottom: 1px solid #e1dedf;

      .shippingPrice-total {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 39px;
        margin-bottom: 5px;
        font-size: 15px;
      }

      .firstPayment {
        height: 24px;
        margin-bottom: 2px;
        text-align: right;
        color: #4a90e2;
        font-size: 13px;

        .firstBuyText {
          margin-right: 12.5px;
        }
      }
    }

    .paymentMessage {
      height: 24px;
      margin: 6px 0 26px 0;
      color: #4a90e2;
      font-size: 13px;
    }

    .totalPrice {
      height: 50px;
      margin-top: 15px;
      padding-bottom: 9px;
      text-align: right;

      .totalPrice-text {
        height: 24px;
        font-size: 13px;
        font-weight: 700;
        line-height: 24px;
      }

      .totalPrice-won {
        height: 24px;
        margin-top: 2px;
        font-size: 24px;
        font-weight: 700;
        line-height: 24px;
        color: #d0021b;
      }
    }

    .paymentBtn {
      width: 220px;
      height: 50px;
      margin-top: 10px;
      border: none;
      color: #fff;
      font-size: 15px;
      font-weight: 700;
      background-color: #d0021b;
      cursor: pointer;
    }

    .keepShoppingBtn {
      width: 220px;
      height: 50px;
      margin-top: 10px;
      border: none;
      color: #fff;
      font-size: 15px;
      font-weight: 700;
      background-color: #acacac;
      cursor: pointer;
    }
  }
}

.emptyCart {
  margin-bottom: 120px;
}

/* Dropdown Button */
.dropbtn {
  background-color: #4caf50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: #3e8e41;
}

.cartItemNone {
  width: 1180px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-top: 1px solid black;

  .emptyCart {
    margin-top: 60px;
    font-size: 58px;
    color: gray;
  }

  .continueShopping {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    width: 200px;
    height: 50px;
    background: #000;
    color: white;
    cursor: pointer;
  }
}

.couponOptionContainer {
  overflow: scroll;
}

.shippingPrice-basic {
  // display: flex;
  // align-items: center;
  height: 24px;

  text-align: right;
  margin-bottom: 2px;
  font-size: 14px;
  color: $item-priceInfo-color;

  .shippingFeeText {
    text-align: right;
  }
}

.canFresh {
  margin-bottom: 20px;
  text-align: right;
  font-weight: 400;
  color: rgb(83, 86, 250);
}

.test {
  // background-color: rgba(0, 0, 0, 0.8);
  // z-index: 55;
  opacity: 0.2;
}
