@import '../../styles/variables.scss';

.item {
  position: relative;
  margin: 0 28px 91px 0;
  width: 376px;
  height: 483px;
  background-color: $item-background-color;

  .imgContainer {
    @include flex-center;
    height: 100%;

    img {
      width: 208px;
    }

    .cartBackground {
      position: absolute;
      width: 72px;
      height: 72px;
      right: 20px;
      bottom: 20px;
      border: 2px solid #eee;
      border-radius: 50%;
      background-color: #fff;
      box-shadow: 0 25px 10px -15px rgb(158, 156, 156);

      &:hover {
        background-color: black;

        color: white;
      }

      i {
        margin: 15px;
        font-size: 32px;

        cursor: pointer;
      }
    }
  }

  .itemTitlte {
    margin-top: 16px;
    font-size: $font-size;
  }

  .priceInfo {
    margin-top: 10px;
    color: $item-priceInfo-color;
    font-size: $item-priceInfo-size;
  }
}
