@import '../../styles/variables.scss';
.optionsBox {
  position: relative;
  width: 396px;
  margin: auto;

  .dropdownContent {
    position: absolute;
    flex-direction: column;

    background-color: white;
    top: 10px;
    z-index: 20;

    li {
      @include flex-center;
      width: 396px;
      height: 50px;

      &:hover {
        color: white;
        background-color: black;
        cursor: pointer;
      }
    }
  }
}
