@import '../../styles/variables.scss';

.footer {
  margin-top: 150px;
  border-top: 1px solid #bdbdbd;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

.footerNavigation {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  margin: 15px 0px;

  .footerNavigationLeft {
    margin-left: 50px;

    .footerNavigationMenu {
      float: left;
      margin-right: 23px;
      font-size: 14px;
      line-height: 20px;
      margin-top: 10px;
      cursor: pointer;
    }
  }

  .footerNavigationRight {
    margin-right: 50px;

    .fas,
    .fab {
      float: left;
      margin-right: 23px;
      font-size: 24px;
      line-height: 20px;
      margin-top: 10px;
      cursor: pointer;
    }
  }
}

.footerSplit {
  width: 100%;
  height: 1px;
  margin-top: 11px;
  background-color: #eee;
}
.footerMain {
  display: flex;
  justify-content: space-between;
  // align-items: center;

  .footerMainInfo {
    margin: 16px 0px 0px 50px;

    .footerLogo {
      display: flex;
      align-items: center;
      font-size: 24px;
      margin-bottom: 12px;
    }

    .footerInfo {
      margin-bottom: 5px;
    }
  }
  .footerCs {
    margin: 16px 50px 0px 0px;
  }
}
